
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body {
      font-family: 'Poppins', sans-serif;
      height: 100vh;
      background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .card-container {
      background: rgba(255, 255, 255, 0.007);
      backdrop-filter: blur(15px);
      border-radius: 20px;
      padding: 40px 30px;
      box-shadow: 0 12px 30px rgba(173, 172, 172, 0.664);
      width: 100%;
      max-width: 400px;
      text-align: center;
      color: #ffffff;
    }
     

    h2 {
      margin-bottom: 25px;
      font-size: 26px;
      font-weight: 600;
      background: linear-gradient(135deg, #00c6ff, #0072ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
      
   
    }

    label {
      display: block;
      text-align: left;
      margin-bottom: 10px;
      font-weight: 500;
    }

    input[type="text"] {
      width: 100%;
      padding: 14px;
      border-radius: 10px;
      border: none;
      font-size: 16px;
      outline: none;
      background: rgba(255, 255, 255, 0.9);
      color: #333;
      margin-bottom: 20px;
      transition: box-shadow 0.3s ease;
    }

    input[type="text"]:focus {
      box-shadow: 0 0 0 3px #00c6ff;
    }

    button {
      width: 100%;
      padding: 14px;
      border: none;
      border-radius: 10px;
      background: linear-gradient(135deg, #00c6ff, #0072ff);
      color: white;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
      transition: background 0.3s ease;
    }

    button:hover {
      background: linear-gradient(135deg, #0072ff, #00c6ff);
    }

    #result {
      margin-top: 25px;
      font-size: 18px;
      font-weight: 600;
      transition: color 0.3s ease;
    }

    .valid {
      color: #059b41;
    }

    .invalid {
      color: #ff4c4c;
    }